<h1><%= @category.name %></h1>
<% if @category.parent %>
<h2>In <%= link_to @category.parent.name, category_path(@category.parent) %></h2>
<% end %>

<% if @category.categories.any? %>
<h2>Subcategories</h2>
<ul>
  <% @category.categories.each do |c| %>
  <li><%= link_to c.name, category_path(c) %></li>
  <% end %>
</ul>
<% end %>

<% if @category.items.any? %>
<h2>Items</h2>
<ul>
  <% @category.items.each do |i| %>
    <li><%= link_to i.title, category_item_path(@category, i) %></li>
  <% end %>
</ul>
<% else %>
<p>This category has no items.</p>
<% end %>
